*{
    margin:0%;
    border:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.navbar{
    height:100px;
    background-color:red;
    display:flex;
    align-items: center;
    /* justify-content: space-evenly; */
   
}
.logo{
    height:100px;
    width:100px;
    background-size: cover;
    margin-left: 10px;
}
.nav-search{
    display:flex;
    margin-left: 50px;
}
.search-icon{
        height:35px;
        width:60px;
        display:flex;
        background-color:yellow ;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border:none;
        justify-content: center;
        align-items: center;
        font-size:1rem;
        color:black;
    }

.nav-home{
    color:black;
    font-size: 23px;
    font-weight: bold;
    margin-left:380px; 
}
.menu{
    height:50px;
    width:30px;
    margin-left:120px;
    margin-top: 25px;
}
a:link{
    color:whitesmoke;
}
a:hover {
    color:yellow;
  }
  
.hero{
    height:530px;
    background-color:black;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hero p{
    padding-top:15px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 50px;
    font-weight: bolder;
}
.hero-img{
    height:400px;
    width:500px;
    background-image:url("./logo1.png");
    background-size:cover;
    
}

.main-list{
    background-color:black;    
    height:530px;
}
.main-list p{
    font-size:25px;
    font-weight: bolder;
    font-style: italic;
    color:whitesmoke;
}
.div-color{
    background-color: red;
    height:50px;
    padding-top: 13px;
    padding-left: 10px;
}
.sub-lists{
    height:480px;
    background-size: cover;


}
.sub-lists p{
    padding-top: 35px;
    padding-left: 20px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    font-style: initial;
    line-height: 40%;
}    


.foot{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height:50px;
    background-color: rgb(224, 69, 69);
    color:black;
    font-size: 15px;
    font-weight:bold;
}


